<h1>/u/<%= @user.name %> profile</h1>

<!-- Buttons to toggle show/hide -->
<div class="btn-group btn-group-lg" role="group" aria-label="user_navigation">
  <button type="button" class="btn btn-secondary show-btn" target="comments">Comments</button>
  <button type="button" class="btn btn-secondary show-btn" target="posts">Posts</button>

  <% if Helpers.current_user(session) == @user %>
    <button type="button" class="btn btn-secondary show-btn" target="subreddits">Subreddits</button>  
    <button type="button" class="btn btn-secondary show-btn" target="mods">Moderator of</button>
  <% end %>
</div>

<!-- Partials -->
<div id="comments" class="target-div">
  <%= erb :"users/show_comments" %>
</div>

<div id="posts" class="target-div">
  <%= erb :"users/show_posts" %>
</div>

<% if Helpers.current_user(session) == @user %>
  <div id="subreddits" class="target-div">
    <%= erb :"users/show_subreddits" %>
  </div>

  <div id="mods" class="target-div">
    <%= erb :"users/show_mods" %>
  </div>
<% end %>

<!-- Javascript to show and hide partials -->
<script type="text/javascript">

  $(function(){
    $("#posts, #subreddits, #mods").hide();
  });


  $(".show-btn").click(function(){
    $(".target-div").hide();
    $( "#" + $(this).attr("target") ).show();
  });

</script>