<h1>/u/<%= @user.name %> profile</h1>

<!-- Edit Profile link -->
<a href="/u/<%= @user.name %>/edit" class="no-wrap">
  <button>Edit Profile</button>
</a>
<!-- Edit Profile link -->
<a href="/u/<%= @user.name %>/delete" class="no-wrap">
  <button>Delete Profile</button>
</a>

<hr><br>
<!-- Buttons to toggle partials -->
<div class="btn-group btn-group-lg" role="group" aria-label="user_navigation">
  <button type="button" class="btn btn-secondary show-btn" target="comments">Comments</button>
  <button type="button" class="btn btn-secondary show-btn" target="posts">Posts</button>

  <% if session[:user_id] != nil && @user == current_user%>
    <button type="button" class="btn btn-secondary show-btn" target="subreddits">Subreddits</button>  
    <button type="button" class="btn btn-secondary show-btn" target="mods">Moderator of</button>
  <% end %>
</div>

<!-- Partials for: comments, posts, subscribed subreddits, moderator status -->
<div id="comments" class="target-div">
  <%= erb :"users/show_comments" %>
</div>

<div id="posts" class="target-div">
  <%= erb :"users/show_posts" %>
</div>

<!-- Subscribed subreddits and moderator info - shows info and has links to edit/delete -->
<!-- Only show if current user is same as profile -->
<% if session[:user_id] != nil && @user == current_user%>
  <div id="subreddits" class="target-div">
    <%= erb :"users/show_subreddits" %>
  </div>

  <div id="mods" class="target-div">
    <%= erb :"users/show_mods" %>
  </div>
<% end %>

<!-- Javascript to show and hide partials -->
<script type="text/javascript">

  // Show comments, hide others
  $(function(){
    $("#posts, #subreddits, #mods").hide();
  });

  // Show partial, hide current one
  $(".show-btn").click(function(){
    $(".target-div").hide();
    $( "#" + $(this).attr("target") ).show();
  });

</script>