<!-- User comments page -->
<h3>Comments</h3>
<hr>

<ul>
  <% @user.comments.each.with_index(1) do |comment, index| %>

    <div class="row">
      <% post = comment.post %>

      <!-- Link post -->
      <% if post.post_type_id == 1 %>
        <div class="col-xs-1 post-index">
          <p><%= index %></p>
        </div>

        <!-- Comment info - post title, poster, subreddit posted to, comment text -->
        <div class="col-xs-11 light-gray-background">
          <!-- One line -->
          <a href="/r/<%= post.subreddit.slug %>/<%= post.slug %>/comments"><%= post.title %></a> 
          (<%= post.link_host %>) <br> 
          <!-- One line -->
          by <a href="/u/<%= post.user.name %>"><%= post.user.name %></a> 
          in <a href="/r/<%= post.subreddit.slug %>">/r/<%= post.subreddit.name %></a>

          <p class="pre-wrap">      <%= comment.content %></p>
        </div>

      <!-- Text post -->
      <% else %>
        <div class="col-xs-1 post-index">
          <p><%= index %></p>
        </div>

        <!-- Comment info - post title, poster, subreddit posted to, comment text -->
        <div class="col-xs-11 light-gray-background">
          <!-- One line -->
          <a href="/r/<%= post.subreddit.slug %>/<%= post.slug %>/comments"><%= post.title %></a>
           by <a href="/u/<%= post.user.name %>"><%= post.user.name %></a> 
           in <a href="/r/<%= post.subreddit.slug %>">/r/<%= post.subreddit.name %></a>

          <p class="pre-wrap">      <%= comment.content %></p>
        </div>
      <% end %>

    </div> <!-- end of comment row -->
    <br>

  <% end %>
</ul>