<h3>Moderator of: </h3>

<ul>
  <% @user.moderators.each do |mod| %>

    <h5><%= mod.subreddit.name %></h5>
    <ul>
      <% mod.subreddit.subscriptions.each do |subscription| %>
        <% if mod.subreddit.is_private == true &&  subscription.access == false %>
          <a href="/u/<%= sub.user.name %>"><%= subscription.user.name %></a>
          <form method="post" action="/r/approve_sub/<%= mod.subreddit.name %>">
            <input type="hidden" name="subscription_id" value="<%= sub.id %>">
            <input type="submit" value="Approve">
          </form>
        <% end %>
      <% end %>
    </ul>

  <% end %>
</ul>