<h3>Posts</h3>

<ul>
  <% @user.posts.each.with_index(1) do |post, index| %>
    <%= index %> <a href="/r/<%= post.subreddit.slug %>/<%= post.slug %>/comments"><%= post.title  %></a> posted to /r/<a href="/r/<%= post.subreddit.slug %>"><%= post.subreddit.name %></a>
  <% end %>
</ul>