<ul>
  <% if @posts %>
    <% @posts.each.with_index(1) do |post, index| %>

      <% if post.post_type_id == 1 %>
        <% subreddit = Subreddit.find(post.subreddit_id) %>
        <div class="row">
          <!-- Post # -->
          <div class="col-xs-1 post-index">
            <p><%= index + (params[:page_num].to_i - 1 ) * 25 %></p>
          </div>

          <!-- Post -->
          <div class="col-xs-10 light-gray-background">
            <h5>
              <a href="<%= post.link %>"><%= post.title %></a> (<%= post.link_host %>)
            </h5>
            <p>
              submited by <a href="/u/<%= post.user.name %>"><%= post.user.name %></a> to <a href="/r/<%= subreddit.slug %>">/r/<%= subreddit.name %></a>
            </p>
            <p>
              <a href="/r/<%= subreddit.slug %>/<%= post.slug %>/comments">
              <%= post.comments.count %> comments</a>
            </p>
          </div>
        </div>
        <br>
      <% else %>
        <% subreddit = Subreddit.find(post.subreddit_id) %>
        <div class="row">
          <!-- Post index -->
          <div class="col-xs-1 post-index">
            <p><%= index + (params[:page_num].to_i - 1 ) * 25  %></p>
          </div>

          <!-- Post -->
          <div class="col-xs-10 light-gray-background">
            <h5>
              <a href="/r/<%= post.subreddit.slug %>/<%= post.slug %>/comments"><%= post.title %></a>
            </h5>
            <p>
              submited by <a href="/u/<%= post.user.name %>"><%= post.user.name %></a> to <a href="/r/<%= subreddit.slug %>">/r/<%= subreddit.name %></a>
            </p>
            <p>
            <a href="/r/<%= subreddit.slug %>/<%= post.slug %>/comments">
              <%= post.comments.count %> comments</a>
            </p>
          </div>
        </div>
        <br>
      <% end %>

    <% end %>
  <% end %>
</ul>
