<!-- Show post for subreddit -->
<div class="row">
  <!-- Subreddit info and subscription form -->
  <div class="subreddit-info col-md-2">
    <%= erb :"subreddits/subreddit_info" %>
  </div>

  <div class="posts col-md-10 col-sm-12">
    <!-- Show post if subreddit is public or if user is subscriber with access -->
    <% if @subreddit.is_private == false || 
      (!!@user && @subreddit.is_private == true && subscription = Subscription.find_by(user_id: @user.id, subreddit_id: @subreddit.id, access: true) )%>

      <!-- Link post -->
      <% if @post.post_type_id == 1 %>
        <div class="col-xs-12 light-gray-background">
          <h5><a href="<%= @post.link %>"><%= @post.title %></a> (<%= @post.link_host %>)</h5>
          submitted by <a href="/u/<%= @post.user.name %>"><%= @post.user.name%></a>
        </div>
        <hr>

      <!-- Text post -->
      <% else %>
        <!-- Title and poster -->
        <div class="row">
          <div class="col-xs-12">
            <h5><a href="<%= @post.link %>"><%= @post.title %></a> (self.<%= @subreddit.name %>)</h5>
            submitted by <a href="/u/<%= @post.user.name %>"><%= @post.user.name%></a>
          </div>
        </div><br>

        <!-- Post text -->
        <div class="row light-gray-background">
          <p class="col-xs-12"><%= @post.content %></p>
        </div>
      <% end %>

        <!-- Form to add new comment if logged in -->
        <% if logged_in? %>
          <!-- Toggle button for add comment form -->
          <button ng-init="show_comment_form = false"  ng-click="show_comment_form = !show_comment_form">New Comment</button>
          <br><br>

          <!-- Form to add comment to post -->
          <form method="post" action="/r/<%= @subreddit.slug %>/<%= @post.slug %>/new_comment" ng-show="show_comment_form" class="row">
            <textarea name="content" placeholder="comment" class="col-xs-11"></textarea>
            <input type="hidden" name="post_id" value="<%= @post.id %>">

            <input type="submit" value="Comment">
          </form>

        <% end %>

        <br><br>

        <!-- Display comments and replies -->
        <h4>Comments</h4>
        <hr>
        <% @comments.each do |comment| %>

          <!-- Display the parent comments first -->
          <% if comment.parent_id == nil %>
            <ul>
              <% user = User.find(comment.user_id) %>
              <h6><a href="/u/<%= user.name %>"><%= user.name %></a></h6>
              <p><%= comment.content %></p>

              <!-- If logged in, show form to add reply to comment -->
              <% if logged_in? %>
                <!-- Toggle new reply form -->
                <button ng-init="show_reply_form_<%= comment.id %> = false"  ng-click="show_reply_form_<%= comment.id %> = !show_reply_form_<%= comment.id %>">Reply</button>
                <br><br>

                <!-- Reply form -->
                <form method="post" action="/r/<%= @subreddit.slug %>/<%= @post.slug %>/new_reply" ng-show="show_reply_form_<%= comment.id %>" class="row">
                  <textarea name="content" placeholder="reply" class="col-xs-11"></textarea>

                  <!-- Reply's parent id and post id -->
                  <input type="hidden" name="parent_id" value="<%= comment.id %>">
                  <input type="hidden" name="post_id" value="<%= @post.id %>">
                  <br>

                  <input type="submit" value="Reply">
                </form>

              <% end %>

              <!-- Display replies of parent comments and form new reply of a reply -->
              <%= erb :"posts/show_comment_replies", locals: {replies: comment.replies} %>
            </ul>
          <% end %>

        <% end %> <!-- end of comments -->

    <!-- Subreddit is private and user does not have access -->
    <% else %>
      <h1>Sorry, but you need to be subscribed to view this subreddit.</h1>
    <% end %>

  </div> <!-- end of posts -->

</div> <!-- end of row -->
