<div class="row">
  <!-- Subreddit info and subscription form -->
  <div class="subreddit-info col-md-2">
    <%= erb :"subreddits/subreddit_info" %>
  </div>

  <div class="posts col-md-10 col-sm-12">
    <!-- Comments if subreddit is not private or if the user's subscription has access equal to true -->
    <% if @subreddit.is_private == false || 
      (!!@user && @subreddit.is_private == true && subscription = Subscription.find_by(user_id: @user.id, subreddit_id: @subreddit.id, access: true) )%>

      <% if @post.post_type_id == 1 %>
        <div class="col-xs-12 light-gray-background">
          <h5><a href="<%= @post.link %>"><%= @post.title %></a> (<%= @post.link_host %>)</h5>
          submitted by <a href="/u/<%= @post.user.name %>"><%= @post.user.name%></a>
        </div>
        <hr>

      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <h5><a href="<%= @post.link %>"><%= @post.title %></a> (self.<%= @subreddit.name %>)</h5>

            submitted by <a href="/u/<%= @post.user.name %>"><%= @post.user.name%></a>
          </div>
        </div><br>
        <div class="row light-gray-background">
          <p class="col-xs-12"><%= @post.content %></p>
        </div>
      <% end %>

        <!-- Add a new comment -->
        <% if logged_in? %>
            <button ng-init="show_comment_form = false"  ng-click="show_comment_form = !show_comment_form">New Comment</button>
            <br><br>
            <form method="post" action="/r/<%= @subreddit.slug %>/<%= @post.slug %>/new_comment" ng-show="show_comment_form" class="row">
              <textarea name="content" placeholder="comment" class="col-xs-11"></textarea>

              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="submit" value="Comment">
            </form>
        <% end %>

        <br><br>
        <h4>Comments</h4>
        <hr>
        <!-- Display comments -->
        <% @comments.each do |comment| %>

          <!-- Only display the parent comments first -->
          <% if comment.parent_id == nil %>
            <ul>
              <% user = User.find(comment.user_id) %>
              <h6><a href="/u/<%= user.name %>"><%= user.name %></a></h6>
              <p><%= comment.content %></p>

              <!-- Add reply to comment -->
              <% if logged_in? %>
                <button ng-init="show_reply_form_<%= comment.id %> = false"  ng-click="show_reply_form_<%= comment.id %> = !show_reply_form_<%= comment.id %>">Reply</button>
                <br><br>
                <form method="post" action="/r/<%= @subreddit.slug %>/<%= @post.slug %>/new_reply" ng-show="show_reply_form_<%= comment.id %>" class="row">
                  <textarea name="content" placeholder="reply" class="col-xs-11"></textarea>
                  <input type="hidden" name="parent_id" value="<%= comment.id %>">

                  <br>
                  <input type="submit" value="Reply">
                </form>
              <% end %>

              <!-- Display replies -->
              <%= erb :"posts/show_comment_replies", locals: {replies: comment.replies} %>
            </ul>
          <% end %>

        <% end %> <!-- End of comments -->

    <!-- User's subscription access is false and subreddit is private -->
    <% else %>
      <h1>Sorry, but you need to be subscribed to view this subreddit.</h1>
    <% end %>
  </div> <!-- end of posts div -->

</div>