<!-- Comments if subreddit is not private or if the user's subscription has access equal to true -->
<% if @subreddit.is_private == false || 
  (@subreddit.is_private == true && subscription = Subscription.find_by(user_id: @user.id, subreddit_id: @subreddit.id, access: true) )%>

  <% if @post.post_type_id == 1 %>
    <h3><a href="<%= @post.link %>"><%= @post.title %></a></h3>
    <p>(<%= @post.link %>)</p>

  <% else %>
    <h3><a href="<%= @post.link %>"><%= @post.title %></a></h3>
    <p><%= @post.content %></p>
  <% end %>

    <br><br>

    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>

      <% user = User.find(comment.user_id) %>
      <h6><a href="/u/<%= user.username %>"><%= user.username %></a></h6>
      <%= comment.content %>
      <br>

      <% comment.comment_replies.each do |replie| %>
        <% replier = User.find(replie.user_id) %>
        <h6><a href="/u/<%= replier.username %>"><%= replier.username %></a></h6>
        <%= replie.content %>
      <% end %>

    <% end %> <!-- End of comments -->

<!-- User's subscription access is false and subreddit is private -->
<% else %>
  <h1>Sorry, but you need to be subscribed to view this subreddit.</h1>
<% end %>

<!-- Subreddit info and subscription form -->
<div class="subreddit-info">
  <form method="post" action="/r/<%= @subreddit.slug %>/subscribe">
    <input type="submit" value="Subscribe">
  </form>
  <br>

  <h4><a href="/r/<%= @subreddit.slug %>">/r/<%= @subreddit.name %></a></h4>
  <br>
  <h5>Descripton</h5>
  <p><%= @subreddit.description %></p>

</div>