<html>
<head>
  <title>Reddit clone - The failed experiment they never deployed</title>

  <!-- Stylesheets -->
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

  <!-- Javascript - jQuery and Bootstrap -->
  <script src="<%= url('/js/jquery-1.12.0.min.js') %>"></script>
  <script src="<%= url('/js/bootstrap.min.js') %>"></script>
  <script src="<%= url('/js/angular.min.js') %>"></script>

</head>
<body ng-app>

  <!-- Navbar -->
  <nav class="navbar navbar-default bg-faded">
    <ul class="row">
      <li><a class="navbar-brand col-sm-1" href="/">FRONT</a></li>

      <!-- Shows users subreddits or if not logged in, public subreddits with highest sub count -->
      <li class="col-sm-1">
        <div class="btn-group navbar-btn">
          <!-- Button for dropdown -->
          <button class="btn dropdown-toggle" data-toggle="dropdown">MY SUBREDDITS</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>

          <!-- Dropdown menu with subreddits --> 
          <ul class="dropdown-menu">
            <% if logged_in? %>
              <% current_user.subreddits.limit(20).each do |subreddit| %>
                <li><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                <li role="separator" class="divider"></li>
              <% end %>
            <% else %>
              <% Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").each do |subreddit| %>
                <li><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                <li role="separator" class="divider"></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>

      <% Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").each do |subreddit| %>
        <li class="col-sm-1"><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">


    <!-- Messages when the user signups, logins, and logouts (successful or unsuccessful) -->
    <% unless locals.empty? %>
      <%= message %>
    <% end %>

    <!-- If user is logged in, should logout and profile link, otherwise show signup/login button -->
    <% if logged_in? %>
      <div id="user-options">
        <h4><%= current_user.name %></h4>
        <a href="/u/<%= current_user.name %>"><button>Profile</button></a>
        <a href="/r/subreddits/new"><button>New Subreddit</button></a>
        <a href="/posts/new"><button>New Post</button></a>
        <form method="post" action="/logout">
          <input type="submit" value="Log Out">
        </form>
      </div>

    <% else %>
     <button class="toggle-ua-form">Sign up / Login</button>
    <% end %>

    <!-- User Authentication form - signups and logins -->
    <!-- Toggles with Signup/Login button or the X (insde ua_form) -->
     <div id="ua-form">
      <%= erb :ua_form %>
     </div>

    <br><br>

    <!-- Template -->
    <%= yield %>

  </div> <!-- .container  -->

  <!-- Javascript for toggling ua-form -->
  <script type="text/javascript">
    $(function(){
      $("#ua-form").hide();
    });

    $(".toggle-ua-form").click(function(){
      $( "#ua-form").toggle();
    });
  </script>

</body> 
</html>