<html>
<head>
  <title>Reddit clone - The failed experiment they never deployed</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Stylesheets -->
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

  <!-- Javascript - jQuery and Bootstrap -->
  <script src="<%= url('/js/jquery-1.12.0.min.js') %>"></script>
  <script src="<%= url('/js/bootstrap.min.js') %>"></script>
  <script src="<%= url('/js/angular.min.js') %>"></script>

</head>
<body ng-app>

  <!-- Navbar -->
  <nav class="navbar navbar-default bg-faded">
    <div class="container-fluid">
    <div class="row">

      <!-- Hamburger Menu -->
      <div class="navbar-header pull-left">
        <button class="navbar-toggle" data-toggle="collapse" data-target=" #navbar-subreddits">
          <span class="sr-only">Toggle subreddit links</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Navbar on right - User authentication, links to create new posts/subreddits, profile -->
      <% if logged_in? %>
        <ul class="pull-right col-xs-3">
          <li class="navbar-btn dropdown-toggle username-btn pull-right " data-toggle="dropdown"><h4><%= current_user.name %></h4></li>

          <ul id="user-menu" class="dropdown-menu">
            <li>
              <a href="/u/<%= current_user.name %>">Profile</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/r/subreddits/new">New Subreddit</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/posts/new">New Post</a>
            </li>
            <li role="separator" class="divider"></li>
            <li id="logout-btn">
              <form method="post" action="/logout">
                <input type="submit" value="Log Out">
              </form>
            </li>
          </ul>
        </ul>
      <% else %>
       <ul class="toggle-ua-form pull-right col-md-1 col-sm-12"><li class="btn navbar-btn">Sign up / Login</li></ul>
      <% end %> <!-- End of right navbar -->

      <!-- Subreddit links navbar -->
      <div class="collapse navbar-collapse col-md-11 col-sm-12" id="navbar-subreddits">
        <ul class="nav navbar-nav row">

          <li class=""><a class="navbar-brand btn" href="/">FRONT</a></li>

          <!-- MY SUBREDDITS BUTTON - shows users subreddits or public subreddits with highest sub count -->
          <li class="btn-group navbar-btn">
            <!-- Button for dropdown -->
            <button class="btn dropdown-toggle" data-toggle="dropdown">MY SUBREDDITS</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>

            <!-- Dropdown menu with subreddits --> 
            <ul class="dropdown-menu row">
              <% if logged_in? %>
              <!-- List 20 of the current user's subscribed subbreddits -->
                <% list_of_subreddits = current_user.subreddits.limit(20) %>
                <% list_of_subreddits.each do |subreddit| %>
                  <li class=""><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                  <li role="separator" class="divider"></li>
                <% end %>
              <!-- Not logged in -->
              <% else %>
              <!-- Find 20 subreddits which are public and order them by their subscriptions count -->
                <% list_of_subreddits = Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").limit(20) %>
                <% list_of_subreddits.each do |subreddit| %>
                  <li class=""><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                  <li role="separator" class="divider"></li>
                <% end %>
              <% end %>
              <li class="all-subreddits-btn"><a href="/subreddits">ALL SUBREDDITS</a></li>
            </ul>

          </li> <!-- end of btn-group for MY SUBREDDITS BUTTON -->

          <!-- Public Subreddits buttons -->
          <% Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").limit(10).each do |subreddit| %>
            <li class="navbar-btn"><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
          <% end %>

        </ul> <!-- End of navbar-nav -->
      </div> <!-- End of Subreddit links -->

    </div> <!-- end of row -->
    </div> <!-- end of fluid container -->
  </nav>

  <!-- Main content -->
  <div class="container">

    <!-- Messages when the user signups, logins, logouts (successful or unsuccessful) or errors with editing/creating -->
    <% unless locals.empty? %>
      <%= message %>
    <% end %>

    <!-- User Authentication form - signups and logins -->
    <!-- Toggles with Signup/Login button or the X (insde ua_form) -->
     <div id="ua-form">
      <%= erb :ua_form %>
     </div>

    <br><br>

    <!-- Main Content gets rendered -->
    <%= yield %>

  </div> <!-- .container  -->

  <!-- Javascript for toggling ua-form -->
  <script type="text/javascript">
    $(function(){
      // Hide user authentication form
      $("#ua-form").hide();

      // Add col-xs-12 to navbar list items based on window size
      var viewportWidth = $(window).width();
      if (viewportWidth < 768) {
        $("#navbar-subreddits li").addClass("col-xs-12");
      }

    });

    $(".toggle-ua-form").click(function(){
      $( "#ua-form").toggle();
    });

    // 
    $(window).resize(function () {
      var viewportWidth = $(window).width();
      if (viewportWidth < 768) {
        $("#navbar-subreddits li").addClass("col-xs-12");
      }
      if (viewportWidth >= 768) {
        $("#navbar-subreddits li").removeClass("col-xs-12");
      }
    });

  </script>

</body> 
</html>