<html>
<head>
  <title>Reddit clone - The failed experiment they never deployed</title>

  <!-- Stylesheets -->
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

  <!-- Javascript - jQuery and Bootstrap -->
  <script src="<%= url('/js/jquery-1.12.0.min.js') %>"></script>
  <script src="<%= url('/js/bootstrap.min.js') %>"></script>
  <script src="<%= url('/js/angular.min.js') %>"></script>

</head>
<body ng-app>

  <!-- Navbar -->
  <nav class="navbar navbar-default bg-faded">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand btn" href="/">FRONT</a>
      </div>

      <ul class="nav navbar-nav btn-group">

        <!-- MY SUBREDDITS BUTTON - shows users subreddits or public subreddits with highest sub count -->
        <li class="btn-group navbar-btn">
          <!-- Button for dropdown -->
          <button class="btn dropdown-toggle" data-toggle="dropdown">MY SUBREDDITS</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>

          <!-- Dropdown menu with subreddits --> 
          <ul class="dropdown-menu">
            <% if logged_in? %>
            <!-- List 20 of the current user's subscribed subbreddits -->
              <% list_of_subreddits = current_user.subreddits.limit(20) %>
              <% list_of_subreddits.each_with_index do |subreddit, index| %>
                <li><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                <!-- Only display the separator if this is not the last item on the list of subreddits -->
                <% if index != list_of_subreddits.length - 1 %>
                  <li role="separator" class="divider"></li>
                <% end %>
              <% end %>

            <!-- Not logged in -->
            <% else %>
            <!-- Find 20 subreddits which are public and order them by their subscriptions count -->
              <% list_of_subreddits = Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").limit(20) %>
              <% list_of_subreddits.each_with_index do |subreddit, index| %>
                <li><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
                <!-- Only display the separator if this is not the last item on the list of subreddits -->
                <% if index != list_of_subreddits.length - 1 %>
                  <li role="separator" class="divider"></li>
                <% end %>
              <% end %>

            <% end %>
          </ul>

        </li> <!-- end of btn-group for MY SUBREDDITS BUTTON -->

        <!-- Public Subreddits buttons -->
        <% Subreddit.where(is_private: false).joins(:subscriptions).group("subscriptions.subreddit_id").order("count(subscriptions.subreddit_id) desc").limit(10).each do |subreddit| %>
          <li class="navbar-btn"><a href="/r/<%= subreddit.slug %>"><%= subreddit.name.upcase %></a></li>
        <% end %>

      </ul> <!-- end of navbar-nav -->

      <!-- If user is logged in, should logout and profile link, otherwise show signup/login button -->
      <% if logged_in? %>
        <ul class="navbar-right">
          <button class="navbar-btn dropdown-toggle" data-toggle="dropdown"><h4><%= current_user.name %></h4></button>

          <ul id="user-options" class="dropdown-menu">
            <li><a href="/u/<%= current_user.name %>"><button>Profile</button></a></li>
            <li><a href="/r/subreddits/new"><button>New Subreddit</button></a></li>
            <li><a href="/posts/new"><button>New Post</button></a></li>
            <li><form method="post" action="/logout">
              <input type="submit" value="Log Out">
            </form></li>
          </ul>
        </ul>
      <% else %>
       <ul class="toggle-ua-form navbar-right"><li class="btn navbar-btn">Sign up / Login</li></ul>
      <% end %>

    </div> <!-- end of fluid container -->
  </nav>

  <!-- Main content -->
  <div class="container">

    <!-- Messages when the user signups, logins, logouts (successful or unsuccessful) or errors with editing/creating -->
    <% unless locals.empty? %>
      <%= message %>
    <% end %>

    <!-- User Authentication form - signups and logins -->
    <!-- Toggles with Signup/Login button or the X (insde ua_form) -->
     <div id="ua-form">
      <%= erb :ua_form %>
     </div>

    <br><br>

    <!-- Main Content gets rendered -->
    <%= yield %>

  </div> <!-- .container  -->

  <!-- Javascript for toggling ua-form -->
  <script type="text/javascript">
    $(function(){
      $("#ua-form").hide();
    });

    $(".toggle-ua-form").click(function(){
      $( "#ua-form").toggle();
    });
  </script>

</body> 
</html>