<!-- /subreddits page -->
<!-- Shows names of all subreddits -->
<h1>All Subreddits</h1>
<hr>

<% Subreddit.all.each do |subreddit| %>
  <div class="row">

    <!-- If logged in show subscribe/unsubscribe button -->
    <% if logged_in? %>

      <!-- Unsubscribe button -->
      <% if subscription = Subscription.find_by(user_id: current_user.id, subreddit_id: subreddit.id) %>
        <form method="post" action="/r/<%= subreddit.slug %>/unsubscribe" class="col-md-2 col-sm-12 remove-form-container-style">
          <input type="hidden" name="subreddit_id" value="<%= subreddit.id %>">
          <input type="submit" value="Unsubscribe">
        </form>

      <!-- Subscribe button -->
      <% else %>
        <form method="post" action="/r/<%= subreddit.slug %>/subscribe" class="col-md-2 col-sm-12 remove-form-container-style">
          <input type="submit" value="Subscribe">
        </form>
      <% end %>

    <% end %>

    <!-- Subreddit info - name, description, subscriber count -->
    <div class="col-md-10 col-sm-12 row">
      <a href="/r/<%= subreddit.slug %>" class="col-xs-12">/r/<%= subreddit.name %></a>
      <p class="col-xs-12"><%= subreddit.description %></p>
      <p class="col-xs-12"><%= subreddit.subscriptions.count %> subscribers</p>
    </div>

  </div>
  <br>
<% end %>
