<!-- Show subreddits info and up to 25 posts for page -->
<div class="row">
  <!-- Subreddit info on right side of screen -->
  <div class="subreddit-info col-md-2">
    <%= erb :"subreddits/subreddit_info" %>
  </div>

  <div class="posts col-md-10 col-sm-12">
    <!-- Show posts if the subreddit is public or if the user has a subscription with access -->
    <% if @subreddit.is_private == false || 
      (!!@user && subscription = Subscription.find_by(user_id: @user.id, subreddit_id: @subreddit.id, access: true) )%>

      <%= erb :"posts/display_posts" %>

    <% else %>

      <!-- If they already had a subscription but access is false -->
      <% if !!@user && subscription =  Subscription.find_by(user_id: @user.id, subreddit_id: @subreddit.id) %>
        <p>Your subscription access: <%= subscription.access %></p>

      <!-- Not subscribed and private -->
      <% else %>
        <h1>Sorry, but you need to be subscribed to view this subreddit.</h1>
      <% end %>

    <% end %>
  </div>

</div>

view more: <a href="/r/<%= @subreddit.slug %>/pg/<%= params[:page_num].to_i + 1 %>"><button>next > </button></a>
<br><br><br>